# Rule {{ DeviceIp }}
# Hostname: {{ DeviceHostname }}
if ($fromhost-ip == '{{ DeviceIp }}') then {
    set $!matched = "yes";
    action(type="omfile" dynaFile="{{TemplateName}}")
    stop
}
## End rule {{ DeviceIp }}