  # Rule {{ DeviceIp }}
  # Hostname: {{ DeviceHostname }}
  if ($fromhost-ip == '{{ DeviceIp }}') then {
     action(type="omfile" dynaFile="{{TemplateName}}")
     stop
  }
  ## End rule {{ DeviceIp }}
